body {
    background: linear-gradient(rgb(16, 96, 128),rgb(218, 206, 37));
    font-weight: bolder;
}
.box {
    color: black;
    background: linear-gradient(to right,
    rgb(0, 0, 0),
    rgb(37, 129, 186),
    rgb(158, 157, 150));
}
.box2 {
    color: black;
}
.recent {
    font-weight: bold;
    color: black;
    background: rgb(221, 221, 232);
    text-align: justify;
    border-radius: 0%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 0.2px;
}
.queue {
    font-weight: bold;
    color: black;
    background: whitesmoke;
    border-radius: 7%;
    margin-top: 10%;
    text-align: justify;
    border: 0.2px;
}
.clear {
    background: black;
    color: whitesmoke;
}
.label {
    font-weight: bold;
    text-align: left;
}
.w-110 {
    width: 110px;
}
.Artist {
    width: 300px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.input {
    width: 250px;
}
.C2 {
    text-align: justify;
    margin-top: 0%;
}
#songList {
    padding-top: 10%;
}
.Drinks {
    font-size: larger;
    font-weight: bolder;
    font-family: 'Calligraffitti', cursive;
    color: rgb(228, 217, 137);
    text-align: left;
    padding-top: 5%;
    letter-spacing: .2rem;
}
h2 {
    color: rgb(24, 35, 67);
    font-weight: bolder;
}
.control{
    padding: 1px;
    min-height: auto;
}
.button{
    width: 60px;
    height: 20px;
}
#drinkBtn{
    height: 40px;
    width: 70px;
    color: black;
}
#randomDrink {
    max-width: 350px;
    text-align: center;
    padding: 30px 30px 12px 30px;
    border-radius: 5px;
}
#randomDrink h1 {
    margin: 0 0 15px 0;
    text-transform: uppercase;
}
#randomDrink img {
    max-width: 300px;
    border: 6px solid #fff;
    border-radius: 150px;
}
.B2 {
    width: 300%;
}
.header{
    color:rgb(230, 202, 202);
    font-weight: bold;
    margin-top: auto;
    font-family: 'Calligraffitti', cursive;
    letter-spacing: .7rem;
}
.h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color:black;
}
.RD{
    width: auto;
    margin-bottom: 3%;
    font-weight: bold;
    font-family: 'Calligraffitti', cursive;
    font-size:1.5rem;
    letter-spacing: .4rem;
    border-radius: 10%;
}
